* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-card-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-card-items>div {
    width: calc((100% - 60px) / 4);
    height: 200px;
}