* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 3%;
    text-align: center;
}

.container-card-item {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    width: calc((100% - 150px) / 4);
    display: flex;

}

.actor-image {
    max-height: 200px;
}

.textbox {
    display: flex;
    flex-direction: column;
    gap: 3%;
    margin-left: 3%;

}



ul {
    list-style: none;
}